/* import tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom style */

@font-face {
  font-family: "quran";
  src: url("../fonts/ScheherazadeRegOT.ttf");
}
@font-face {
  font-family: "arabic";
  src: url("../fonts/me_quran_Regular.ttf");
}
*,
html,
body {
  direction: rtl;
}

html,
body,
#app {
  height: 100%;
}

 
.quran {
  font-family: "quran";
}

.arabic {
  font-family: "arabic";
}
