*,
html,
body {
  direction: rtl;
}

html,
body {
  height: 100%;
}

html {
  overflow-y: scroll;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom style */

@font-face {
  font-family: "quran";
  src: url("../fonts/ScheherazadeRegOT.ttf");
}
@font-face {
  font-family: "arabic";
  src: url("../fonts/me_quran_Regular.ttf");
}

.quran {
  font-family: "quran";
}

.arabic {
  font-family: "arabic";
}

#scroll-style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

#scroll-style-1::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f500;
}

#scroll-style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(85, 85, 85, 0.507);
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
#list {
  scrollbar-width: auto;
  scrollbar-color: #e6e6e6 #ffffff;
  direction: ltr;
}

/* Chrome, Edge, and Safari */
#list::-webkit-scrollbar {
  width: 8px;
}

#list::-webkit-scrollbar-track {
  background: #34d399;
  border-radius: 10px;
}

#list::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 10px;
  border: 3px solid #cccccc;
}
