/* import tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom style */

@font-face {
  font-family: "quran";
  src: url("../fonts/ScheherazadeRegOT.ttf");
}
*,
html,
body {
  direction: rtl;
}

html,
body,
#app {
  height: 100%;
}

:root {
  --navbar-height: 80px;
}
.quran {
  font-family: "quran";
}
