/* import tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom style */

@font-face {
  font-family: "quran";
  src: url("../fonts/ScheherazadeRegOT.ttf");
}
@font-face {
  font-family: "arabic";
  src: url("../fonts/me_quran_Regular.ttf");
}
*,
html,
body {
  direction: rtl;
}

html,
body {
  height: 100%;
}

.quran {
  font-family: "quran";
}

.arabic {
  font-family: "arabic";
}

#scroll-style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

#scroll-style-1::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f500;
}

#scroll-style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(85, 85, 85, 0.507);
}
